html, body {
	height: 100%;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

#flot_overview_container {
	position: relative;
	background-color: #333;
	height: 42px;
	margin-top: 3px;
	margin-left: 2px;
}

#flot_overview_container .seeker {
	position: absolute;
	height: 39px;
	width: 200px;
	border: 1px solid orange;
	border-radius: 3px;
	background-color: rgba(255, 128, 0, 0.15);
	z-index: 10;
	cursor: e-resize;
}



#functional_effect_container .overlay {
	cursor: pointer;
}

#functional_effect_list_container {
	height: 300px;
	overflow: auto;
}

#functional_effect_list_container .progress {
	background:url(spinner.gif) no-repeat;
	width:128px;
	height: 128px;
	margin: 0 auto;
}

#search_container {
	display: block;
	position: absolute;
	top: 40%;
}

#search_container .header {
	position: relative;
	font-size: 160px;
	z-index: -1;
	top: -55px;
	color: grey;
	text-shadow: 0 0 15px grey;
}

#search_container .search {
	margin: 0 auto;
}

#search_container .search input {
	width: 80%;
}

#search_container .search button {
	width: 15%;
}

#top_bar_container {
	margin: 0 0 0.5em 0;
	background-color: #333;
	height: 47px;
}

#result_container {
	display: none;
}

.result {
	background-color: #eaeaea;
	border: 1px solid #ccc;
	padding: 7px;
	box-sizing: border-box;
}

.positions {
	margin-left: 5px;
	margin-top: 10px;
	list-style-type: none;

}

.positions li.section {
	-moz-border-radius: 0.75em;
     border-radius: 0.40em; 
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top, #ff0000 0%, #ff0000 50%, #00ff00 50%, #00ff00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(50%,#ff0000), color-stop(50%,#00ff00), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff0000 0%,#ff0000 50%,#00ff00 50%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff0000 0%,#ff0000 50%,#00ff00 50%,#00ff00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff0000 0%,#ff0000 50%,#00ff00 50%,#00ff00 100%); /* IE10+ */
	background: linear-gradient(top, #ff0000 0%,#ff0000 50%,#00ff00 50%,#00ff00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#00ff00',GradientType=0 ); /* IE6-9 */

}
.positions li.section:hover {
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.positions > li {
	font-size: 2em;
	font-style: italic;
	position: relative;
	height: 55px;
	padding-top: 35px;
}

.positions li ul {
	padding: 0;
	margin: 0 0 0 45px;
	position: absolute;
	top: 0;
	font-size: 14px;
	font-style: normal;
}

.mutations li {
	display: inline-block;
	list-style-type: none;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

#top_bar_container .search {
	height:47px;
	display: inline-block;
	background-color: white;
	border-bottom-right-radius: 15px;
	margin-left:0;
}

#top_bar_container form {
	margin-top: 8px;
}

#top_bar_container input {
	width: 70%;
}

#top_bar_container button {
	width: 20%;
}

#footer_content {
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	padding: 1em;
	background-color: #333;
	width: 100%;
	color: #eee;
	text-align: center;
}

#footer_content, .push {
	height: 50px;
}

#footer_content .menu {
	display: inline-block;
	text-align: right;
	width: 60%;
	margin: 0 auto;
	vertical-align: bottom;
}

.monospace {
	font-family: 'Inconsolata', 'Consolas', monospace;
	font-size: 16px;
	margin-left: 3px;
}

.hide {
	display: none;
}




